*{
    padding: 0%;
    margin: 0%;
}
.login-btn, .entrada-form{
    width: 50%;
}

.form-login div{
    margin: auto;
    
}
.navigation{
    width: 100%;
    position: fixed;
    background-color: rgb(169, 169, 169);
    z-index: 2;
}
.nav li ul {
    display: none;
}

.nav li:hover > ul {
    display: block;
}

.top-image{
    opacity: 0.75;
}
  