*{
    padding: 0;
    margin: 0;
    font-family: 'Oswald', sans-serif;
}
.login-btn, .entrada-form{
    width: 50%;
}

.form-login div{
    margin: auto;
    
}
.navigation{
    width: 100%;
    position: fixed;
    background-color: rgb(169, 169, 169);
    z-index: 2;
}
.nav li ul {
    display: none;
}

.nav li:hover > ul {
    display: block;
}

.top-image{
    opacity: 0.75;
}
.test{
    background-position: 50%;
    background-image: url("../images/ciudad2.png");
    background-color: #C1C5D1;
    height: 33vw;
    background-repeat: no-repeat;
    opacity: .7;
}
.image{
    opacity: .5;
    width: 100%;
    background-origin: border-box;
    
}
.imgusrok{
    background-position: 50%;
    background-image: url("../images/matrix-codigo.webp");
    background-color: black;
    height: 33vw;
    background-repeat: no-repeat;
    opacity: .9;

}

.datosTarjeta, .datosOperacion{
	display: none;
}